apply plugin: 'groovy'

jar {
    from { configurations.compile.findAll { !it.path.contains("groovy") }.collect { it.directory ? it : zipTree(it) } }
}

repositories {
    mavenCentral()
}

dependencies {
	downloadDiscordG
	compile 'org.codehaus.groovy:groovy-all:2.4.5'
	compile files("libs/DiscordG-${discordGVersion}.jar")
}

version = "1"
group = "my.cool.program"
archivesBaseName = "AwesomeStuff"